<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>الاعدادات</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <link rel="icon" type="image/x-icon" href="icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>

<body>

  <div class="header">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <div class="form-control">
          <h2 class="tajawal-bold">ضبط الميزانية</h2>
          <p class="tajawal-bold">.env عدلها بنفسك من ملف الـ</p>
          <p class="tajawal-regular">او كلّم الي ضبط لك الخدمة عشان يغيرها</p>

          <!--
          <div class="form-group">
            <label for="monthlyBudget" class="tajawal-regular">ميزانيّتك الشهرية</label><br>
            <span class="tajawal-regular">ريال</span><input style="width: 25%;" type="number" name="monthlyBudget" id="monthlyBudget" min="10">
          </div>
          <div class="form-group">
            <label for="monthlyBudget" class="tajawal-regular">نبهّني لما يبقى لي من الميزانية</label><br>
            <span class="tajawal-regular">ريال</span><input style="width: 25%;" type="number" name="monthlyBudget" id="monthlyBudget" min="10">
          </div>
          <button class="btn btn-outline-success" style="width: 50%;">حفظ</button>
          -->
        </div>

        <br>
        <div class="form-control">
          <h2 class="tajawal-bold">ضبط كلمة سر جديدة</h2>
          <p class="tajawal-bold">.env عدلها بنفسك من ملف الـ</p>
          <p class="tajawal-regular">او كلّم الي ضبط لك الخدمة عشان يغيرها</p>
          <!--
          <div class="form-group">
            <label for="oldPasswrd" class="tajawal-regular">كلمة السر القديمة</label><br>
            <input type="password" name="oldPasswrd" id="oldPasswrd">
          </div>
          <div class="form-group">
            <label for="passwrd" class="tajawal-regular">كلمة السر الجديدة</label><br>
            <input type="password" name="newPassword" id="newPassword">
          </div>
          <div class="form-group">
            <label for="newPasswordReTyped" class="tajawal-regular">أعد ادخال كلمة السر الجديدة</label><br>
            <input type="password" name="newPasswordReTyped" id="newPasswordReTyped">
          </div>
          <button class="btn btn-outline-success" style="width: 50%;">حفظ</button>
-->

        </div>
        <br>

        <div class="form-group">
          <a href="/" class="tajawal-regular"><button class="btn btn-outline-secondary" style="width: 100%;">العودة</button></a>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>